@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: #1e1e2f;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #44475a;
    border-radius: 10px;

    &:hover {
      background: #6272a4;
    }
  }

  scrollbar-width: thin;
  scrollbar-color: #44475a #1e1e2f;
}

.grid {
  grid-auto-rows: 1fr;
}

@keyframes gradient-border {
  0% {
    border-image-source: linear-gradient(90deg, #ff0080, #ffcd3c);
  }
  50% {
    border-image-source: linear-gradient(180deg, #ff0080, #00ffff);
  }
  100% {
    border-image-source: linear-gradient(270deg, #ffcd3c, #ff0080);
  }
}

@keyframes background-move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-border {
  border-width: 3px;
  border-style: solid;
  border-image-slice: 1;
  animation: gradient-border 3s linear infinite;
}

.animated-background {
  background: linear-gradient(90deg, #ff0080, #00ffff, #ffcd3c);
  background-size: 200% 200%;
  animation: background-move 10s ease-in-out infinite;
}
.markdown > * {
  all: revert;
}
